body {
  
}
h1 {
  color: tomato;
  background-color:gray;
  text-align:center;
}
p1 {
	
  color:blue;
  
  background-color:tomato;
}
.img1
{
	float:right; 
}
p2
{
	text-align:center;
	float:right;
	color:yellow;
	margin:-1%;
	
	background-color:red;
}
h5{
	border:2px solid tomato;
	background-color:purple;
}

}
p4{
	float:right;
	border:5px solid gray;
	background-color:green;
	color:pink;
	
	
}
div
{
	float:right;
	margin-left:5%;
	width:15%;
	overflow:auto;
	display:inline-block;
	height:40%;
	padding-left:5px;
	background-color:tomato;
}

